language: node_js
node_js:
- '4.1'
- '4.0'
- '0.12'
- '0.11'
- '0.10'
script:
- npm run build
- npm test
after_success:
- test $TRAVIS_NODE_VERSION = "4.1" && npm run coverage && npm run sendcoverage
deploy:
  provider: npm
  email:
    secure: aSxjRXBRRBF0sWf4VwYG86DdUL1VV5vsEsOAOHM3H3mbH27KhrCGK6zLmb6674FkmmSvRWuqdjt+4teMorJ+dBJllE2A2kXsvFM/TLiVBe3YIYkQ8LOG+SmELJhjDTvPgbEwKlOVsEkBGhoHxkl4MVkMTcw7s5l6YDQSCnDEXHKiN7mlfeMsrNhY9rFbA595A8UbcH1f4xsjh6ou8xk3tF347xx1TthbpPGWQeonHBNdxt1CYo2Gk6B19oZoxAzdIVGCLY+O+QzPNUsOEa//n/0hDJOepWyCDe6u9GDiJ5jNo5MH/XcoiwjcJ86n4LLY2KnR19sXwLSXiEfNI7sLovfCxzf3Zgv9+Wv4KlEuq8hgbV9AzRZjVwZu4fIgY9KVBnbFuKbZuXEB9K+qkN0MOm84F6nEH2SaaaF4XgQw+Rc+rDBauPo7yB0SmTbDcSAmsg5A7tTI3/5UvGigV2z4qasHZfsLWUVdK2xxqmBHfS8y+/u+wYdKOciJtgi2HjRohibpnuJK8lK+1EmzIcGPjrgpt4Vj6ZQcadDyn3SvgeTPNilFB8Y0ItpAN0vWZ8f9vwbkVcfJrezUMKbrVJLHc68uFiwbAtN/zEGQ0YhTOdxbGyAH6rz7enO+e/NoxR+hqTY/KHqzdcRTWKTM8c+3D/RXHqV4e5K0d3jM6gN0JMQ=
  api_key:
    secure: X3+dDZG3ggtfYr6JYbdJlklDXUizIUWtSCK3cW8rtsGzNf0mSwki01vuDquOXX1DX0O4faiZe8Hbm9rn4wnk5XvYDmSqrpuQ9JhGXjBg69T68a6PTOYk0iak6MN7TPUpFbI+KegKS5gFo9P1EkrfmvMn2TGmEv5dlyXbNbM438aedUklSPKH5JuimbPdU8VKhNdjQ2ZYYOo250vEe6DyWUKcEl+1DVVwCi18YHu6PMWROSqDRFJJDWJA1aI84vgpzcgHqKzfXHP0pxy84CfCv1vZu6NnAPr138g9JMzieyEosSkock1OSIWEJCXE9XPy9VqKcgHEGkc5f8SZjKYISW1CT08+PeYkx/3QRILCgl1EON5W4KHLeCV5EpkAubfnS/zlrjJEYOZ/N5MKzPX2BY346FTJlMuzJR7N4lZ2bGsOYROZ1EY8J8tRS5Vjq8AayvIi4SC45nKJuKldA9i9knDry2rcdblIXcmWDTzGPqfLvMtI2x80Bm4ROUbAu0F22LtrmYILxxu2oobZOK4PqJ+y/ykl6cuRR8NZsSun9F0mfrKSDLZB+78GUH28W3hx33muWlvIcHStyt7bPhZcj9D/LxGZVWxClQY+1T7Cx3hXw8qbktLgbBV+Rl8tzevTovD3M3xrOcYOL3chXrLky614IynUGpng7liST4QWh+o=
  on:
    node: '4.1'
    tags: true
    repo: urbanmassage/promise-cb
  skip_cleanup: true
